<footer>
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer1">
                    <h4>Our Services</h4>
                    <ul>
                        <li>Home</li>
                        <li>About</li>
                        <li>Education</li>
                        <li>Gallery</li>
                        <li>Contact</li>
                    </ul>
                </div>

                <div class="col-md-6 footer2">
                    <h4>Social links</h4>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>YouTube</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>