{% load static %}



<header>
    <div class="abcde">
    <div class="row">
        <div class="text col-md-6">
            <p>
                <span class="text1">Hey, My name is </span> <br> <span class="text2">Rohan Chaulagain</span>
                <br>
                <span class="text3">IT Student.</span>
                <br>
                <div class="text4">
                    I'm an IT student currently studying at Softwarica College of IT and eCommerce with BSC hons Computing as the major subject. Fascinated
                    from technology from the very childhood, becoming an IT professional was my dream.
                </div>
              </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/a.png' %}" class="rohan img img-fluid">
            <div class="i-bg"></div>
        </div>
    </div>

</div>

    <div class="container">
        <div class="row">
        <span class="col-md-7">

        </span>
        <span class=" col-md-4">

        </span>
    </div>
    </div>
</header>



<nav class="container-fluid navbar bg navbar-expand-lg fixed-top">
    <div class="container">
  <a class="navbar-brand text-white" href="#" style="letter-spacing: 2px; padding: 20px; font-size: 20px; color: #59B256; font-family: Calibri">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#gallery">Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
    </div>
</nav>
</div>
<br><br>
<hr>
<section>

<body>
  <div class="container">
      <h1 id="gallery" style="text-align: center">Gallery</h1>
    <div class="row">
      <div class="column">
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.6435-9/245486541_2960154220904156_6112258701992256034_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=y_Tz830IoQMAX-gzIrM&_nc_ht=scontent.fktm6-1.fna&oh=feeb948e14652ea915d94c5aed1b7983&oe=619AFFA6" />
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.6435-9/95973869_2546145535638362_6749336832724434944_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=e3f864&_nc_ohc=Qy2DsKpUYS8AX_Ft2pz&_nc_ht=scontent.fktm6-1.fna&oh=16b0b2bbc615349d193c4848769aa3bc&oe=619A68AC" />
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.6435-9/117256638_10219897671486182_2755033532527430870_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=0debeb&_nc_ohc=0llT6wXA5LsAX_n0n3S&_nc_ht=scontent.fktm6-1.fna&oh=a9b5586c21d8a5b8c473704ba9f7f096&oe=61991708" />
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.6435-9/74988818_10217369194075827_5007958014896898048_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=0debeb&_nc_ohc=HcLty-YCSpQAX9zpyd5&_nc_ht=scontent.fktm6-1.fna&oh=c24dd92850762abd053b2e65e3c47cec&oe=619C5D12" />
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t31.18172-8/14707872_10208731162330432_6734271869437507487_o.jpg?_nc_cat=107&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=yhsioXWiu4kAX-S6Xf1&_nc_ht=scontent.fktm6-1.fna&oh=4f1662999d9ac31e7d41d3299b731bc6&oe=619AB8A3" />
      </div>
      <div class="column">
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.6435-9/71776211_10217187646417249_969769848403918848_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=8P8oK092ScEAX-8jX2O&_nc_ht=scontent.fktm6-1.fna&oh=2879b8639ea90a54ba20f5622376f4c2&oe=619913B3">
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.6435-9/136075722_2731305927121145_3239947432368565215_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=ad2b24&_nc_ohc=7thwE67IOUcAX-5YkZB&_nc_ht=scontent.fktm6-1.fna&oh=9c919c1339bf32ff4fa4d62fda1efdde&oe=619BEF52">
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.6435-9/41529164_2117444415175145_6377166436078452736_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=19026a&_nc_ohc=KvtHxEN5I_AAX-O98nS&_nc_ht=scontent.fktm6-1.fna&oh=5fc6be493cfc06c96c537b2f1c3089df&oe=619BF5C8">
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.6435-9/72270005_10217187659297571_6453796383580225536_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=0debeb&_nc_ohc=ojUEI2kyH6EAX-TMOjn&tn=oV1L2XRjzWLs9sV0&_nc_ht=scontent.fktm6-1.fna&oh=b8ff167e0364bb611136f8cd194fdc3d&oe=619A557C">
      </div>
      <div class="column">
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.18169-9/29511658_1988035458116042_8438014460145429846_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=19026a&_nc_ohc=SniwQHuepA0AX-Vvd8n&_nc_ht=scontent.fktm6-1.fna&oh=33f4c3298661119e7f697dc8bcd4abdf&oe=619BDBDF" />
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.6435-9/117161503_10219897669126123_6571719831543387126_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=0debeb&_nc_ohc=8DYlXh6aTQoAX8FhRFW&_nc_ht=scontent.fktm6-1.fna&oh=2126fbcd2dede0f600010de590d6ded1&oe=619A0E79" />
        <img src="{% static 'images/rohan.jpg' %}">
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t1.6435-9/72335651_10217187655457475_4711056812739133440_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=0debeb&_nc_ohc=_WV3e6SgSc8AX_BOUOc&tn=oV1L2XRjzWLs9sV0&_nc_ht=scontent.fktm6-1.fna&oh=046577b616d34af491d416bcd845509c&oe=619C2729">
        <img src="https://scontent.fktm6-1.fna.fbcdn.net/v/t31.18172-8/22550363_10212014674656188_3258669608558058663_o.jpg?_nc_cat=101&ccb=1-5&_nc_sid=0debeb&_nc_ohc=I0m1EPkdI3QAX8lUBKC&_nc_ht=scontent.fktm6-1.fna&oh=48b88b7990694f0fcf0538bb23110b9c&oe=619AD4EE">
      </div>
    </div>
  </div>
</body>

</html>
</section>